* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: open-sans-r;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open-sans-b;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: bold;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding-bottom: 145px;
  padding-top: 35px;
}

.header:after {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
}

.header-container {
  width: 1170px;
  margin: 0 auto;
}

.header-logo {
  width: 180px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  align-items: center;
}

.menu-list {
  display: flex;
  margin-top: 20px;
  margin: 0;
  padding: 0;
}

.menu-list-item {
  list-style-type: none;
  font-family: open-sans-r;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-list-item:after {
  content: "";
  position: relative;
  display: block;
  width: 0px;
  height: 2px;
}

.menu-list-item:hover:after {
  width: 100%;
  background: #fff;
}

.menu-link {
  text-decoration: none;
  color: #fff;
}

.main-title {
  color: #fff;
  text-transform: uppercase;
  font-family: open-sans-b;
  font-weight: 700;
  width: 678px;
  font-size: 43px;
  text-align: center;
  line-height: 75px;
  margin: 0 auto;
}

.section {
  margin-top: 60px;
}

.page-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.main {
  width: 778px;
}

.news {
  display: flex;
  margin-bottom: 60px;
}

.img-news {
  object-fit: cover;
}

.news-text {
  margin-left: 30px;
}

.news-headlines-link:hover {
  color: #b59f5b;
}

.travel-tegs {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: open-sans-b;
  font-size: 14px;
  text-transform: uppercase;
}

.news-tegs {
  list-style-type: none;
}

.news-tegs:nth-child(odd) {
  margin-right: 20px;
}

.news-tegs:after {
  content: "";
  position: relative;
  display: block;
  width: 0px;
  height: 2px;
}

.news-tegs:hover:after {
  width: 100%;
  background: #b59f5b;
}

.news-tegs-link {
  text-decoration: none;
  color: #b59f5b;
}

.news-headlines {
  font-size: 20px;
  font-family: open-sans-b;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 36px;
  font-weight: 700;
}

.news-headlines-link {
  text-decoration: none;
  color: black;
}

.data {
  font-szie: 12px;
  color: #888888;
}

.author {
  font-family: open-sans-b;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  margin-left: 15px;
}

.about {
  font-family: open-sans-r;
  margin-top: 53px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;
  color: #0f0d0e;
}

.aside {
  width: 272px;
}

.header-aside-news {
  font-family: open-sans-b;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.header-aside-news::after {
  content: "";
  display: block;
  position: relative;
  width: 67px;
  height: 3px;
  background: #b59f5b;
  margin: 0 auto;
  margin-top: 14px;
}

.aside-news {
  display: flex;
  margin-top: 30px;
  margin: 20px auto;
}

.img-aside {
  height: 70px;
  width: 70px;
}

.aside-text {
  margin-left: 20px;
}

.data-time-aside {
  font-family: open-sans-r;
  font-size: 12px;
  color: gray;
  font-weight: 400;
}

.title-aside {
  font-family: open-sans-b;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.title-aside-link {
  text-decoration: none;
  color: black;
}

.title-aside-link:hover {
  color: #b59f5b;
}

.form-search {
  display: flex;
  margin-top: 60px;
  width: 100%;
}

.search-string {
  padding: 15px;
  box-sizing: border-box;
  display: block;
  width: 225px;
  height: 50px;
  background-color: #f4f7f6;
  border: none;
}

.search-button {
  width: 50px;
  height: 50px;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  border: none;
}

.search-button:hover {
  background: black;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.indent {
  margin-top: 60px;
  margin-bottom: 20px;
}

.search-mail {
  width: 100%;
}

.subscribe-button {
  width: 100%;
  height: 50px;
  background-color: #b59f5b;
  border: none;
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
  font-family: open-sans-b;
  text-transform: uppercase;
}

.subscribe-button:hover {
  background: black;
}

.tegs-list {
  display: flex;
  flex-wrap: wrap;
}

.teg {
  box-sizing: border-box;
  display: inline-block;
  list-style-type: none;
  font-family: open-sans-b;
  text-transform: uppercase;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 6px 12px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.teg:hover {
  border-color: #b59f5b;
}

.tegs-art {
  margin-left: 20px;
}

.teg-link {
  text-decoration: none;
  color: black;
}

.topic {
  list-style-type: none;
  font-family: open-sans-b;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.topic-link {
  text-decoration: none;
  color: black;
}

.topic-link:hover {
  color: #b59f5b;
}

.topic-numbers {
  font-size: 12px;
  color: #b59f5b;
  margin-left: 8px;
}

.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer-wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.adress-footer {
  margin-bottom: 75px;
  background: #f4f7f6;
}

.social-media {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.media {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.media:nth-child(-n + 3) {
  margin-left: 30px;
}

.visually-hidden {
  visibility: hidden;
}

.drible {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
  background-repeat: no-repeat;
}

.pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
  background-repeat: no-repeat;
}

.tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
}

.copyright {
  color: #999999;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
